<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${tilte}">회원정보 조회</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
</head>
<body>
  <h1 th:text="${title}"></h1>
  <table>
    <tbody th:object="${memberInfo}">
    <tr>
      <td>회원 아이디</td>
      <td>
        <input type="text" name="memberId" th:value="*{memberId}"/>
      </td>
    </tr>
    <tr>
      <td>회원 비밀번호</td>
      <td>
        <input type="text" name="memberPw" th:value="*{memberPw}"/>
      </td>
    </tr>
    <tr>
      <td>회원 등급</td>
      <td>
        <input type="text" name="memberLevel" th:value="*{memberLevel}"/>
      </td>
    </tr>
    <tr>
      <td>회원 이름</td>
      <td>
        <input type="text" name="memberName" th:value="*{memberName}"/>
      </td>
    </tr>
    <tr>
      <td>회원 연락처</td>
      <td>
        <input type="text" name="memberMobile" th:value="${memberInfo.memberMobile}"/>
      </td>
    </tr>
    </tbody>
  </table>
</body>
</html>