<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
</head>
<th:block layout:fragment="customContent">
    <h1>실습문제</h1>
    -1: talbe.css 외부스타일을 적용 <br>
    -2: https://localhost/exam/exam4 -> exam4.html 동적인페이지 노출 <br>
    -3: memberList 객체를 이용해서 table 생성 <br>
    -4: memberList 객체가 없을시에 '등록된 회원의 정보가 없습니다.' 행이 노출 <br>
    -5: target 변수를 선언하고 id003 회원의 정보(객체)를 할당 <br>
     5-1 : service 계층 getMemberInfoById("id003")
         : memberId="id003",memberPw="pw003",memberLevel="구매자",memberName="홍03",memberMobile="010-3333-3333"<br>
     5-2 : th:object 활용해서 target변수에 memberId를 할당 <br>
    -6: 회원의 목록중 id003에 일치하는 행 전체를 빨간색 폰트로 화면에 노출 <br>
    <table th:object="${memberInfo}">
        <thead>
            <tr>
                <th>회원아이디</th>
                <th>회원비밀번호</th>
                <th>회원등급</th>
                <th>회원이름</th>
                <th>회원연락처</th>
            </tr>
        </thead>
        <tbody th:with="target=*{memberId}">
            <th:block th:if="${memberList != null}" th:each="l:${memberList}">
                <tr th:style="${(l.memberId == target) ? 'color : red' : ''}">
                    <td th:text="${l.memberId}"></td>
                    <td th:text="${l.memberPw}"></td>
                    <td th:text="${l.memberLevel}"></td>
                    <td th:text="${l.memberName}"></td>
                    <td th:text="${l.memberMobile}"></td>
                </tr>
            </th:block>
            <tr th:unless="${memberList != null}">
                <td colspan="5">등록된 회원의 정보가 없습니다.</td>
            </tr>
        </tbody>
    </table>
</th:block>
</html>